

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<style>
    </style>

<body>
    <div class="container-fluid m-0">
        <div class="row m-0 justify-content-center">
            <form class="login-form" action="/Login/Login" method="post">
                <img class="mb-4" src="https://winlas.se/assets/img/logo.svg" win alt="" width="200" height="72" />
                <h1 class="h3 mb-3 font-weight-normal">Logga in med ditt WinLas-konto</h1>
                <p class="text-danger"></p>
                <label for="Email" class="mt-2"><strong>Email</strong></label>
                <input class="form-control" id="username" name="username" type="text" placeholder="Ange din e-post" />
                <label for="L_senord" class="mt-2"><strong>L&#xF6;senord</strong></label>
                <input class="form-control" id="password" name="password" type="text" placeholder="Ange ditt lösenord" />
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="remember-me" value="remember-me"> Kom ihåg mig
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Logga in</button>
                <p class="mt-5 mb-3 text-muted">WinLas &copy; 2020</p>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8D9_Cdzjs0tApKy8ZUeAfQ21-hp57v0l6gFQcoTDEs-YlaIsdfheydDYPJSNys1VhWZ6H_6vv3cX0-dy7ztymrwwbTkHtb_cbNf3phL9NGDqFqdt927D8crQsVXm_isyqpKGiiqqPxVyFqyDZU1-RrU" />
            </form>
        </div>
    </div>
</body>
